<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.ComponentModel" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="5.0.0.1874" />
  <package id="Xamarin.Essentials" version="1.5.3.2" />
  <package id="FSharp.Core" version="5.0.0" />
  <package id="Newtonsoft.Json" version="12.0.3" />
  <package id="Fabulous" version="0.70.0-nightly2" />
  <package id="Fabulous.LiveUpdate" version="0.70.0-nightly2" />
  <package id="Fabulous.XamarinForms" version="0.70.0-nightly2" />
  <package id="Fabulous.XamarinForms.LiveUpdate" version="0.70.0-nightly2" />
  <package id="Xamarin.Forms.PancakeView" version="2.3.0.759" targetFramework="xamarinios10" />
</packages>